<h2>New Event</h2>

<div>
<%= form_for @event do |f| %>
  <%= f.text_field :title, class: "form_field", placeholder: "Title" %><br/>
  <%= f.text_area :description, class: "form_field", placeholder: "Description" %><br/>
  <%= f.text_field :location, class: "form_field", placeholder: "Location" %><br/>
  <%= f.date_field :date, class: "form_field" %><br/>
  <%= f.time_field :start_time, class: "form_field" %><br/>
  <%= f.time_field :finish_time, class: "form_field" %><br/>
  <%= f.submit "Create", class: "button" %>
<% end %>
<div>
