<h1>New Event</h1>

<%= form_for @event do |f| %>
  <%= f.label :title  %>
  <%= f.text_field :title  %></br>
  <%= f.label :description  %>
  <%= f.text_area :description  %></br>
  <%= f.label :location  %>
  <%= f.text_field :location  %></br>
  <%= f.label :date  %>
  <%= f.date_field :date  %></br>
  <%= f.label :start_time  %>
  <%= f.time_field :start_time  %></br>
  <%= f.label :finish_time  %>
  <%= f.time_field :finish_time  %></br>
  <%= f.submit "Create"  %>
<% end %>
