<h2><%= @event.title %></h2>

<p>
  <%= @event.description %>
</p>

<table class="events">
  <thead>
    <tr>
      <th>Date</th>
      <th>Location</th>
      <th>Start Time</th>
      <th>Finish Time</th>
      <th>Host</th>
    </tr>
  </thead>
  <body>
    <tr>
      <td><%= @event.date %></td>
      <td><%= @event.location %></td>
      <td><%= @event.start_time %></td>
      <td><%= @event.finish_time %></td>
      <td><%= @event.creator.name %></td>
    </tr>
  </body>
</table>

<div>
  <% if current_user %>
    <%= button_to 'Attend', attend_event_path(@event), method: :post, class: "button" %>
  <% end %>
</div>


<h3>Guest List</h3>

<ul class="guest">
  <% @event.attendees.each do |a| %>
    <li><%= a.name %></li>
  <% end %>
</ul>
