<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav">
      <li class="nav"><%= link_to 'Events', root_path %></li>
      <% if current_user %>
        <li class="nav", style="float:right"><%= link_to 'Logout', logout_path %></li>
        <li id="nav", style="float:right">Logged in as <%= link_to current_user.name, current_user %></li>
      <% else %>
        <li class="nav", style="float:right"><%= link_to 'Sign up', new_user_path %></li>
        <li class="nav", style="float:right"><%= link_to 'Login', login_path %></li>
      <% end %>
    </ul>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
