<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <% if session[:user_id] %>
      <h5>Logged in as <%= @user.name %></h5>
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>
  </body>
</html>
